body {
    font-family:sans-serif;
    font-size:12px;
font:normal normal 13px/14px myriad_web_proregular, serif;
height:100%;
min-height:100%;
color:#7e868b;
background-color: #efefef
}
.resent{
	margin:1em 0;
}
.resent-grid {
        margin-bottom: 34px;
	padding-left: 0.1em;
}
.resent-grid-img{
	position:relative;
}
.resent-grid-img iframe{
  width: 100%;
  height: 642px;
}
.resent-grid-img a{
	display:block;
}
.resent-grid a img{
	width:100%;
}
.resent-info h3{
	font-size:23px;
	color:#000;
	font-weight:600;
	margin:1em 0;
	font-family: 'Oswald', sans-serif;
}
.resent-grid-info{
    background: #f7f7f7;
    padding: 1em;
}
.resent-grid-info a.title{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #525254;
}
.resent-grid-info a.title:hover{
    transition: inherit;
    text-decoration: underline;
}
.resent-grid-info p.author{
  font-size: 14px;
  color: #9E9E9E;
  margin: .5em 0;
}
    .resent-grid-info p.author a.author {
        color: #21DEEF;
        text-decoration: none;
        padding-left: 1.8em;
        background: url(../Content/images/u12.png) no-repeat 0px 1px;
    }
.resent-grid-info p.author a.author:hover{
    text-decoration: none;
}
.resent-grid-info p.views{
  font-size: 14px;
  color: #9E9E9E;
  margin: 0;
}
/*-- recommended --*/
.recommended-grids {
    margin: 2em 0;
}
.recommended-info h3{
    font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.recommended-info p{
    font-size: 13px;
    color: #9E9E9E;
    margin: 0;
    line-height: 1.8em;
}
.recommended-grid-info a.title{
    font-size: 14px;
    line-height: 1.3em;
}
.recommended-grid-info h3 {
  margin: 0;
  overflow: hidden;
  height: 54px;
}
.recommended-grid-info h5 {
  margin: 0;
  overflow: hidden;
  height: 34px;
}
.resent-grid-info a.title-info{
    font-size: 15px;
}
.recommended-grid-info p.author {
    font-size: 13px;
    margin: 1em 0 0 0;
}
.resent-grid-info ul{
	padding:0;
	margin:0;
}
.resent-grid-info ul li{
	display:inline-block;
}
.recommended-grid-infoo ul{
	padding:0 !important;
	margin:0 !important;
}
.recommended-grid-info ul li{
    display: inline-block !important;
    width: 49%;
}
.recommended-grid-info ul li.right-list{
   text-align:right;
}
.resent-grid-info p.author-info{
    font-size: 13px;
    font-weight: 600;
}
.resent-grid-info p.views {
    font-size: 13px;
}
.resent-grid-info p.views-info{
    font-size: 12px;
}
.recommended-grid-info {
    box-shadow: 0px 0 2px #C1C1C1 !important;
    background: none;
}
.header {
    width: 100%;
    float: left;
    height: 125px;
        background:white;
}
.banner{
    width: 100%;
    float: right;
    height: 40px;
    background: #337ab7;
    text-align: center;
    
}
.container2 ul li {
    border-right: 1px solid #e0e0e0;
        margin-right: 29px;
    float: left;
    /* margin-left: 22px; */
    display: block;
    cursor: pointer;
    border-left: white;
    padding-right: 5px;
}
.holder ul li {
    border-right: 1px solid #e0e0e0;
    float: right;
    
    margin-right: 30px;
    display: block;
    cursor: pointer;
   
}

/*.holder li:before {
    content: "|";
}*/

.container2 ul li:last-child { border-right: none; }
.container2 ul li a{
       color: #fbfbfb;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
/*.banner ul li a:hover {
background-color:white;
}*/
.rotator{
    width:100%;
    height:300px;
}
.content1{
    margin-top: 20px;
    width: 99%;
    padding: 4px 6px 6px;
    background-color: white;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}
.tileImages{
       width: 364px;
    height: 254px;
    padding: 0px 15px 0px;
}
h3{
    padding: 0px 15px 0px;
        font-size: 24px;
    font-family: sans-serif;
}
.content2:last-child{
    margin-right:0px;
}
.content2{
        height: 492px;
    margin-right: 43px;
    vertical-align:top;
    display:inline-block;
    margin-top: 20px;
    width: 30%;
    padding: 4px 6px 6px;
    background-color: white;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}
.content2 p{
            padding: 4px 15px 2px ;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 16px;
}
.content1 p{
            padding: 4px 15px 2px ;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 16px;
}
.logo
{
    margin-left:3%;
    height:98%;
    margin-top:0%;
    margin-bottom:1%;
}
.holder ul li a{
        padding: 8px 5px!important;
       color: #fbfbfb;
    font-size: 13px;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}
.holder ul li:first-child { border-right: none; }
.footer p {
        color:white;
}
.searchbtn{
    float:right;
        margin-right: 1%;
     display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #c46232;
  border-radius: 3px;
  font-family:inherit;
  color: rgba(255,255,255,0.9);
  background: #c46232;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    
}
.holder{

}
.footer
{
   background: #337ab7;
    color: #2f81d6;
    font-size: 11px;
    margin: 20px 0 0 0;
    float: left;
    text-align: center;
    height: 50px;
    width: 100%;
    font-family:sans-serif;
}
